.sebm-google-map-container {
  height: 185px;
}

a .fa-search{
  color:#333;
}
@media (min-width:320px) and (max-width:567px) {
  .c-layout-sidebar-menu .c-sidebar-menu.collapse.show{
    display: block;
  }
}
