.navbar-nav .nav-link{
  padding-top:1rem;
}

.container-fluid{
  margin-left:15px;
  margin-right:15px;
}

@media(min-width:767px){
  .navbar-collapse.collapse{
    display:block;
  }
}

@media (min-width:320px) and (max-width:567px) {
  .nav-item{
    .nav-link{
      padding-top: 5px;
    }
  }
  .nav-item .dropdown-menu{
    .dropdown-item{
      padding-top: 5px;
      margin-top: 5px;
    }
  }
  .navbar-light .container-fluid{
    padding-right: 0;
    margin-right: 0;
    .navbar-toggler{
      margin-right: 0;
      padding-right: 0;
    }
  }
}

